{% extends 'base.html' %}
{% block title %}My Schedule{% endblock %}

{% block content %}
<h2>My Work Schedule</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Shift</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Working Days</th>
        <th>Assigned Date</th>
    </tr>

    {% for item in schedules %}
    <tr>
        <td>{{ item.schedule.shift_name }}</td>
        <td>{{ item.schedule.start_time }}</td>
        <td>{{ item.schedule.end_time }}</td>
        <td>{{ item.schedule.working_days }}</td>
        <td>{{ item.assigned_date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No schedule assigned</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}